:root {
  --container-background-color: #ffffff;
}

.string {
  color: #0078e2;
}

.boolean {
  color: green;
}

.number {
  color: #272727;
}

.key {
  color: #a53e9f;
}

.none {
  display: none;
}

.block {
  display: block;
}